.mainDelete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.details {
  width: 25%;
  border: 3px solid black;
  margin: auto;
  padding: 10px;
}
@media screen and (max-width: 768px) {
.details{
  width: 80%;
}
}
